[Unit]
Description=Chatbot API Server
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/flask-chatbot/personal-chatbot
ExecStart=/home/ec2-user/flask-chatbot/personal-chatbot/scripts/run_app.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target